.bubbles img{
    width: 10%;
    animation: bubbles 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -107px;
}

@keyframes bubbles{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	50%{
		transform: translateY(0);
		opacity: 1;
	}
	70%{
		transform: translateY(0);
		opacity: 1;
	}
	100%{
		transform: translateY(-200vh);
		opacity: 0;
	}
}

.bubbles img:nth-child(1){
	animation-delay:1s;
	width:95px;
}
.bubbles img:nth-child(2){
	animation-delay:2s;
}
.bubbles img:nth-child(3){
	animation-delay:1s;
	width:40px;
}
.bubbles img:nth-child(4){
	animation-delay:3s;
}
.bubbles img:nth-child(5){
	animation-delay:2s;
}
.bubbles img:nth-child(6){
	animation-delay:1.5s;
	width:70px;
}
.bubbles img:nth-child(7){
	animation-delay:4s;
	width:50px;
}
